# DATABASE_URL=libsql://todo-list-db-getbread123.aws-eu-west-1.turso.io?authToken=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NTc3ODk2NDAsImlkIjoiMzg0MTJhMGYtYjUzNS00YTM4LTk2ODctNzliYjQ0ZGE0NTNmIiwicmlkIjoiNGIzOTdiZjMtYjJiYy00YWJhLWI3YjktY2ZhMjVkYjlkZDA3In0.kEhXJSTrCXHkx_X99whYeYEz91llDwS268mMRr7F0x-yFhmYXGKJ9uXov6Xi5iY-liozFz-xZBsX_I5JGtQBAw

TURSO_DATABASE_URL=todo-list-db-getbread123.aws-eu-west-1
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NTc3ODk2NDAsImlkIjoiMzg0MTJhMGYtYjUzNS00YTM4LTk2ODctNzliYjQ0ZGE0NTNmIiwicmlkIjoiNGIzOTdiZjMtYjJiYy00YWJhLWI3YjktY2ZhMjVkYjlkZDA3In0.kEhXJSTrCXHkx_X99whYeYEz91llDwS268mMRr7F0x-yFhmYXGKJ9uXov6Xi5iY-liozFz-xZBsX_I5JGtQBAw
